@import "@styles/variables";

.container {
	display: grid;
	grid-area: sidebar;

	border-right: 1px solid $color-blue-grey;

	.blockSearch {
		display: grid;
		gap: 10px 0;
		align-content: flex-start;

		height: 13vh;
		padding: 20px 15px 15px;

		border-bottom: 1px solid $color-blue-grey;

		.buttonProfile {
			justify-self: flex-end;
		}
	}
}
