@import '@styles/variables';

.container {
    display: grid;
    gap: 50px 0;

    .blockImage {
        display: grid;
        justify-items: center;
        gap: 20px 0;
    }

    .blockInput {
        display: grid;
        gap: 10px 0;
        width: 30vw;

        .blockText {
            padding: 3px 0;
            display: grid;
            grid-template-columns: repeat(2, auto);
            align-items: center;
            justify-content: space-between;

            &:not(:last-child) {
                border-bottom: 1px solid $color-grey;
            }
        }
    }
    .blockButton {
        display: grid;
        justify-items: flex-start;
        gap: 10px 0;
        padding: 3px 0;
    }
}