@import "@styles/variables";

.container {
	display: grid;
	grid-template-areas: "sidebar body";
	grid-template-columns: 350px 1fr;

	width: 100vw;
	height: 100vh;

	background-color: $color-blue-grey-dark;

	.body {
		grid-area: body;
	}
}
