@import "@styles/variables";

.container {
	display: grid;
	gap: 40px 0;

	width: 400px;
	padding: 50px 30px 30px;

	background-color: $color-blue-grey;
	border-radius: 12px;

	.blockTitle {
		justify-self: center;
	}

	.blockButton {
		display: grid;
		gap: 14px 0;

		.buttonSingUp {
			justify-self: center;
		}
	}

	.blockInput {
		display: grid;
		gap: 16px 0;

		margin-bottom: 100px;

		.blockError {
			justify-self: center;
		}

		.blockText {
			display: grid;
			gap: 8px 0;

			.input {
				width: 100%;
				padding: 10px;

				color: $color-white;

				background-color: $color-blue-grey-dark;
				border: 1px solid transparent;
				border-radius: 5px;
			}

			.error {
				border: 1px solid $color-red;
			}
		}
	}
}
