@import "@styles/variables";

.container {
	cursor: pointer;

	display: grid;
	align-content: center;
	justify-content: center;

	transition: $transition;
}

.big {
	.image {
		width: 30px;
		height: 30px;
	}
}

.medium {
	.image {
		width: 20px;
		height: 20px;
	}
}

.hoverBlue {
	&:hover {
		.image {
			filter: invert(49%) sepia(99%) saturate(2220%) hue-rotate(184deg) brightness(97%) contrast(96%);
		}
	}
}

.hoverScale {
	&:hover {
		transform: scale(1.2);
	}
}
