@import "@styles/variables";

.container {
	display: grid;
	grid-template-areas:
		"header"
		"body";
	grid-template-rows: auto 1fr;

	height: 100vh;
	padding: 0 15%;

	background-color: $color-blue-grey;

	.body {
		display: grid;
		grid-area: body;
		align-items: center;
		justify-content: center;
	}
}
