@import '@styles/variables';

.container {
    grid-area: write;
    display: grid;
    padding: 10px 20px;
    grid-template-columns: auto 1fr auto;
    gap: 0 30px;
    margin: 30px 15%;
    background-color: $color-blue-grey-dark;
    border-radius: 20px;
}