@import "@styles/variables";

.container {
	display: grid;
	gap: 10px 0;

	width: 30vw;

	.blockInput {
		display: grid;
		grid-template-columns: repeat(2, auto);
		align-items: center;
		justify-content: space-between;

		padding: 3px 0;

		&:not(:last-child) {
			border-bottom: 1px solid $color-grey;
		}

		input::placeholder {
			font-size: 24px;
			line-height: 28px;
		}
	}
}
