@import "@styles/variables";

.container {
	display: grid;
	gap: 40px 0;

	width: 400px;
	padding: 50px 30px 30px;

	background-color: $color-blue-grey;
	border-radius: 12px;

	.blockTitle {
		justify-self: center;
	}

	.blockButton {
		display: grid;
		gap: 14px 0;

		.buttonCreate {
			justify-self: center;
		}
	}

	.blockInput {
		display: grid;
		gap: 16px 0;

		margin-bottom: 100px;

		.blockText {
			display: grid;
			gap: 8px 0;
		}
	}
}
