@import '@styles/variables';

.container {
    grid-area: contact;
    display: grid;
    grid-template-columns: repeat(2 ,auto);
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: $color-blue-grey-dark;

    .blockContact {
        display: grid;
        grid-template-columns: repeat(2, auto);
        align-items: center;
        gap: 0 10px;
    }
}