@import "@styles/variables";

.container {
	width: 100%;
	padding: 10px;

	border: 1px solid transparent;
	border-radius: 5px;
}

.dark {
	color: $color-white;

	background-color: $color-blue-grey-dark;
}

.light {
	color: $color-grey;

	background-color: $color-blue-grey;
}

.transparent {
	padding: 0;

	color: $color-white;
	text-align: right;

	border-radius: 0;
}

.error {
	border: 1px solid $color-red;
}
