@import "@styles/variables";

.container {
	display: grid;
	grid-template-areas:
		"contact"
		"message"
		"write";
	grid-template-rows: auto 1fr auto;

	height: 100vh;

	background-color: $color-blue-grey;
}
