@import "@styles/variables";

.container {
	display: grid;
	align-items: center;
	justify-items: center;

	transition: $transition;

	&:disabled {
		opacity: 0.7;
	}

	&:not([disabled]):hover {
		cursor: pointer;
	}
}

.blue {
	color: $color-white;

	background-color: $color-blue;
	border-radius: 8px;

	&:not([disabled]):hover {
		background-color: $color-blue-dark;
	}
}

.transparent {
	color: $color-blue;

	border-bottom: 1px solid transparent;

	&:not([disabled]):hover {
		border-bottom: 1px solid $color-blue;
	}
}

.red {
	color: $color-red;

	border-bottom: 1px solid transparent;

	&:not([disabled]):hover {
		border-bottom: 1px solid $color-red;
	}
}

.big {
	width: 100%;
	padding: 13px 0;
}

.medium {
	padding: 13px 50px;
}
